# Subluxation Data Preprocessing

## Importing and Loading Datasets

In [74]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns

# Load datasets
file_path_active = "Patient Management Active 03102022 Only ID.xlsx"
df_active = pd.read_excel(file_path_active)

# Add a new column 'Active/Passive' to df_active with all values set to 'Active'
df_active.insert(3, 'Active/Passive', 'Active')  # Insert column

file_path_passive = "Patient Management Passive 03102022 Only ID.xlsx"
df_passive = pd.read_excel(file_path_passive)

# Add a new column 'Active/Passive' to df_active with all values set to 'Passive'
df_passive.insert(3, 'Active/Passive', 'Passive')  # Insert column

### View the Active and Passive datasets

In [75]:
# Print the updated DataFrame
df_active.head()

,ID,Enrolment Date,Age Group,Active/Passive,Initial Care Plan,Time/Session 1,Vertebral Subluxation Before Care,Chiro Adjustment,Time/Session 2,Vertebral Subluxation Before Care.1,...,Chiro Adjustment.33,Time/Session 35,Vertebral Subluxation Before Care.34,Chiro Adjustment.34,Time/Session 36,Vertebral Subluxation Before Care.35,Chiro Adjustment.35,Unnamed: 114,Unnamed: 115,Unnamed: 116
0,1,20/4,Adults,Active,3x4,2022-04-20 14:00:00,"PL SX +++, L5 BL ++, T10 BL +++, T4 BR +++, C2...","PL SX, T4 BR ANTERIOR, C2 BL, C1 PIR",2022-04-22 13:50:00,"R PI +++, T4 BR ++, T11 BL ++, C1 PIR +++, C2 ...",...,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1,2,20/4,Adults,Active,3x4,2022-04-20 12:35:00,"PL Sx ++, L5 BR +++, T11 BL +++, T4 BR +++, C2...","PL Sx, L5 BR, T4 BR Anterior, C2 BR, C6 BL",2022-04-22 08:50:00,"PL Sx +++, R PI +, T4 BR +++, C1 PIL +++, C2 B...",...,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2,4,19/4,Adults,Active,3x4,2022-04-19 12:55:00,"Apex post Sx +++, T10 BR ++, T3 anterior +++, ...","Apex post Sx, T3 anterior, C2 BL",2022-04-20 11:50:00,"PL Sx +++, T8 BR ++, T3 BR ++, C2 BL ++, C5 BR...",...,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
3,5,21/4,Adults,Active,3x4,2022-04-21 12:35:00,"L AI Sx +++, PR Sx ++, L3 BR ++, T11 BR ++, T4...","L AI Sx, T4 BL anterior, C1 PIR",2022-04-22 12:55:00,"PL Sx +++, T12 BR +++, T4 BL +++, C1 PIR +++, ...",...,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
4,6,20/4,Adults,Active,3x4,2022-04-20 13:40:00,"R AI Sx +++, L5 BL ++, T9 BR +, T4 BR +++, C1 ...","R AI Sx, T4 BR Anterior, C1 PIR, C4 BL",2022-04-22 12:45:00,"PL Sx +++, L1 BL +, T4 BR +++, C1 PIR +++, C4 ...",...,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [76]:
# Print the updated DataFrame
df_passive.head()

,ID,Enrolment Date,Age Group,Active/Passive,Initial Care Plan,Time/Session 1,Vertebral Subluxation Before Care,Time/Session 2,Vertebral Subluxation Before Care.1,Time/Session 3,...,Time/Session 25,Vertebral Subluxation Before Care.24,Time/Session 26,Vertebral Subluxation Before Care.25,Unnamed: 58,Time/Session 27,Unnamed: 60,Time/Session 28,Time/Session 29,Time/Session 30
0,3,23/4,Adults,Passive,2x6,2022-04-23 11:56:00,"PL Sx +++, L2 BR ++, T6 BR +++, T3 BR ++, C2 B...",2022-04-27 11:15:00,"PL Sx +++, T9 BL +++, T3 BR ++, C6 BR +++",2022-05-10 12:20:00,...,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,20/4,Adults,Passive,2x6,2022-04-20 13:10:00,"R PI +++, T6 BR +++, T4 BR +++, T1 BR ++, C1 P...",2022-04-22 12:35:00,"PR Sx ++, T12 BR +++, T6 BR +++, T1 BR +++, C1...",2022-04-26 14:11:00,...,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9,20/4,Adults,Passive,2x6,2022-04-20 12:05:00,"PL Sx +++, L2 BR ++, T5 BR ++, C2 BR +++, C6 B...",2022-04-22 11:35:00,"PL Sx +++, L3 BL +++, T10 BL ++, T4 BR +++, C1...",2022-04-26 10:50:00,...,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,22/4,Adults,Passive,2x6,2022-04-22 10:50:00,"PR Sx +++, L5 BR ++, T12 BR +, T6 BR +++, T3 B...",2022-04-23 13:20:00,"PR SX +++, L3 BL ++, T10 BL +++, T3 BL +++, C2...",2022-04-25 13:53:00,...,2022-07-16 10:29:00,"RPI+++, T12BR+++, T9BR++, T4BL++, T2BL+++, C1A...",NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,20/4,Adults,Passive,2x6,2022-04-20 13:08:00,"R PI +++, PL Sx ++, T5 BR +++, T3 BR ++, C1 PI...",2022-04-22 12:10:00,"R PI +++, T5 BR ++, T2 BL +++, C2 BR +++, C6 B...",2022-04-27 12:35:00,...,2022-07-21 14:28:00,"PL SX +++, T12 BR +++, T6 BR +++, C1 ASR +++, ...",NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Creating a dataframe for Vertebral Subluxation columns

In [77]:
# Combine df_active and df_passive
active_passive_combined = pd.concat([df_active, df_passive], ignore_index=True)

In [78]:
vs_columns = [col for col in active_passive_combined.columns if "Vertebral Subluxation Before Care" in col]
if vs_columns:
    vs_df = active_passive_combined[vs_columns].copy()
    vs_df.columns = [f"Vertebral Subluxation Before Care {idx+1}" for idx in range(len(vs_columns))]

### Processing the Vertebral Subluxation Data

In [79]:
def process_vs_data(df):
    """Extracts labels from 'Vertebral Subluxation Before Care' and assigns severity based on '+' count."""
    if "Vertebral Subluxation Before Care" in vs_df.columns:
        vs_data = vs_df["Vertebral Subluxation Before Care"].fillna("")
        extracted = []
        unique_labels = set()

        for entry in vs_data:
            matches = re.findall(r"([A-Za-z0-9]+(?: [A-Za-z]+)?)\s*(\+{1,3})?", entry)
            
            row_dict = {}
            for label, severity in matches:
                label = label.upper().strip()  # Convert to uppercase
                severity_value = len(severity) if severity else 1  # Number of '+' determines severity (default 1)
                unique_labels.add(label)
                row_dict[label] = severity_value  # Store severity value

            extracted.append(row_dict)

        label_list = sorted(unique_labels)  # Sort labels alphabetically
        transformed_data = [{label: row.get(label, 0) for label in label_list} for row in extracted]

        return pd.DataFrame(transformed_data)
    else:
        print("Column 'Vertebral Subluxation Before Care' not found.")
        return pd.DataFrame()  # Return empty DataFrame if column is missing

### Transforming and Merging Data

Since Vertebral Subluxation Before Care Columns are still not found, we will process them separately.

In [80]:
# Process active and passive datasets
df_transformed_active = process_vs_data(df_active)
df_transformed_passive = process_vs_data(df_passive)

#  Merge transformed data with metadata
df_active_final = pd.concat([df_active, df_transformed_active], axis=1)
df_passive_final = pd.concat([df_passive, df_transformed_passive], axis=1)

#  Combine active and passive datasets
df_combined = pd.concat([df_active_final, df_passive_final], ignore_index=True)
df_combined = pd.concat([df_combined, vs_df], axis=1)

# Save intermediate data
#df_combined.to_csv("data.csv", index=False)
#print(f" Data saved to 'data.csv' with {len(df_combined)} rows.")

Column 'Vertebral Subluxation Before Care' not found.
Column 'Vertebral Subluxation Before Care' not found.

## Processing Session Data

In [81]:
# Checking for Duplicates 
print(df_active.columns[df_active.columns.duplicated()])
print(df_passive.columns[df_passive.columns.duplicated()])

Index([], dtype='object')
Index([], dtype='object')

## Processing Chiro Adjustments Data

In [82]:
###  Step 3: Process Chiro Adjustments
chiro_adjustment_columns = [col for col in df_active.columns if "Chiro Adjustment" in col]
if chiro_adjustment_columns:
    chiro_adjustment_df = df_active[chiro_adjustment_columns].copy()
    chiro_adjustment_df.columns = [f"Chiro Adjustment {idx+1}" for idx in range(len(chiro_adjustment_columns))]
    df_combined = pd.concat([df_combined, chiro_adjustment_df], axis=1)

#  Save the final combined dataset
#final_output_path = "data_final.csv"
#df_combined.to_csv(final_output_path, index=False)
#print(f" Final data saved to '{final_output_path}'.")

###  Step 4: Reshape & Visualize Session Trends
#  Reload the cleaned dataset
#df = pd.read_csv("data_final.csv")

df = df_combined

#  Detect all session columns
session_columns = [col for col in df.columns if re.match(r"Time/Session \d+", col)]
if not session_columns:
    print(" No session columns found, skipping trend analysis.")
else:
    #  Reshape data: Convert multiple session columns into 'Session' and 'Time'
    df_sessions = df.melt(
        id_vars=[col for col in df.columns if col not in session_columns], 
        value_vars=session_columns,
        var_name="Session",
        value_name="Time"
    )

    #  Extract session numbers (e.g., 'Time/Session 1' â†’ 1)
    df_sessions["Session"] = df_sessions["Session"].str.extract(r'(\d+)').astype(int)


print(" All processing and visualization steps completed.")

 All processing and visualization steps completed.

### Extracting Labels from the data

We will extract the labels from the dataset, and create separate columns for each. For example, if the label is PL SX +++, then it would be processed as "Session 1 PLSX". Additionally, the "+" indicates the severity. Since there are three "+", the severity is 3.

In [83]:
#data = df_combined
vs_df = df_combined.filter(regex=r"^Vertebral Subluxation Before Care(\s\d+)?$")  # Select relevant columns

# List of labels to exclude
exclude_labels = []

# Function to extract label and severity, while standardizing label case to uppercase and removing spaces
def extract_label_severity(text):
    if isinstance(text, str):
        match = re.match(r"(.+?)(\++$)", text)  # Extract label and plus signs
        if match:
            label = match.group(1).strip().replace(" ", "").upper()  # Convert to uppercase, remove spaces
            severity = len(match.group(2))  # Count '+' signs
            return label, severity
    return None, 0  # Default case for empty/missing values

# Process each column to extract labels and severities
processed_data = []
for index, row in vs_df.iterrows():
    row_data = {}
    for col in vs_df.columns:
        session_num = re.search(r"(\d+)?$", col).group(1)  # Extract session number (if present)
        session_num = session_num if session_num else "1"  # Default to 1 if no number is found
        entries = str(row[col]).split(",")  # Split multiple labels by comma
        for entry in entries:
            label, severity = extract_label_severity(entry.strip())  # Clean label by removing extra spaces
            if label and label not in exclude_labels:  # Exclude specific labels
                formatted_label = label  # Already uppercase and no spaces
                column_name = f"Session {session_num} {formatted_label}"
                row_data[column_name] = severity
    processed_data.append(row_data)

# Create DataFrame with extracted labels and renamed columns
result_df = pd.DataFrame(processed_data).fillna(0).astype(int)  # Fill missing values with 0

# Remove columns that have "+" in their names
result_df = result_df.loc[:, ~result_df.columns.str.contains(r'\+')]

# Sort columns by session number while maintaining label order within each session
sorted_columns = sorted(result_df.columns, key=lambda x: (int(re.search(r"Session (\d+)", x).group(1)), x))
result_df = result_df[sorted_columns]  # Reorder columns

# Print result
result_df.head()

,Session 1 APEXPOSTSX,Session 1 BASEPOSTERIORSX,Session 1 BASEPOSTSX,Session 1 C0BILAT,Session 1 C0PS,Session 1 C1ASI,Session 1 C1ASL,Session 1 C1ASR,Session 1 C1PIL,Session 1 C1PIR,...,Session 34 T6BR,Session 35 C2BL,Session 35 C3BR,Session 35 T12BR,Session 35 T5BR,Session 36 C2BL,Session 36 C3BR,Session 36 RPI,Session 36 T12BR,Session 36 T5BR
0,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0

## Extract Time/Session columns from df_combined

We will extract Time/Session columns from df_combined. We will also remove any duplicates. Additionally, we will rename the Time/Session (number) columns as Session (number) columns.

In [84]:
# Trim spaces from column names
df_combined.columns = df_combined.columns.str.strip()

# Check for duplicate columns
duplicate_cols = df_combined.columns[df_combined.columns.duplicated()].tolist()
if duplicate_cols:
    print(f"Duplicate columns found: {duplicate_cols}")

# If duplicate columns exist, keep only the first occurrence
df_combined = df_combined.loc[:, ~df_combined.columns.duplicated()]

# Extract all "Time/Session" columns
time_df = df_combined.filter(regex=r"^Time/Session(\s*\d+)?$")

# Rename columns from "Time/Session X" to "Session X"
time_df.columns = [re.sub(r"^Time/Session\s*", "Session ", col) for col in time_df.columns]

# Sort columns numerically based on session number
sorted_columns = sorted(time_df.columns, key=lambda x: int(re.search(r"\d+", x).group(0)) if re.search(r"\d+", x) else 1)

# Reorder DataFrame
time_df = time_df[sorted_columns]

# Display updated DataFrame
time_df.head()

,Session 1,Session 2,Session 3,Session 4,Session 5,Session 6,Session 7,Session 8,Session 9,Session 10,...,Session 27,Session 28,Session 29,Session 30,Session 31,Session 32,Session 33,Session 34,Session 35,Session 36
0,2022-04-20 14:00:00,2022-04-22 13:50:00,2022-04-25 14:45:00,2022-04-27 14:55:00,2022-05-07 11:50:00,2022-05-10 15:52:00,2022-05-12 11:26:00,2022-05-14 09:17:00,2022-05-18 16:30:00,2022-05-27 13:17:00,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1,2022-04-20 12:35:00,2022-04-22 08:50:00,2022-04-23 09:20:00,2022-04-26 00:30:00,2022-04-27 11:35:00,2022-04-28 11:50:00,2022-05-07 12:16:00,2022-05-09 10:55:00,2022-05-11 12:24:00,2022-05-14 11:05:00,...,2022-07-14 13:25:00,2022-07-16 09:38:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,2022-04-19 12:55:00,2022-04-20 11:50:00,2022-04-23 10:06:00,2022-04-26 12:55:00,2022-04-27 13:00:00,2022-05-10 08:50:00,2022-05-11 14:56:00,2022-05-13 14:48:00,2022-05-16 15:25:00,2022-05-19 15:22:00,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,2022-04-21 12:35:00,2022-04-22 12:55:00,2022-04-25 14:20:00,2022-04-27 14:20:00,2022-05-07 11:05:00,2022-05-11 09:53:00,2022-05-13 11:45:00,2022-05-14 12:31:00,2022-05-16 13:32:00,2022-05-20 11:53:00,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,2022-04-20 13:40:00,2022-04-22 12:45:00,2022-04-25 15:00:00,2022-04-26 14:16:00,2022-05-07 13:32:00,2022-05-10 09:37:00,2022-05-13 10:50:00,2022-05-14 12:26:00,2022-05-19 12:00:00,2022-05-20 11:50:00,...,2022-07-14 12:26:00,2022-07-16 10:25:00,2022-07-18 13:22:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT

### Standardise Session columns

We will standardise the Session columns.

In [85]:
def standardize_time_format(time_str):
    # Match the time and date with or without AM/PM
    match = re.match(r"(\d{1,2}:\d{2})([APap][Mm])?\s*(\d{1,2}/\d{1,2})", time_str.strip())
    
    if match:
        time_part = match.group(1)
        am_pm = match.group(2)
        date_part = match.group(3)

        # If AM/PM is missing, infer it
        if not am_pm:
            hour = int(time_part.split(":")[0])
            if 8 <= hour < 12:
                am_pm = "AM"
            elif 12 <= hour <= 6 or hour == 12:
                am_pm = "PM"
            else:
                # Default to AM if outside expected bounds (defensive programming)
                am_pm = "AM"
        else:
            am_pm = am_pm.upper()

        # Return standardized time
        standardized_time = f"{time_part}{am_pm} {date_part}"
        return standardized_time
    
    return time_str  # Return original if no match

# Apply to all Time/Session columns
for col in time_df.columns:
    time_df[col] = time_df[col].apply(lambda x: standardize_time_format(str(x)))

# Preview
time_df.head()

,Session 1,Session 2,Session 3,Session 4,Session 5,Session 6,Session 7,Session 8,Session 9,Session 10,...,Session 27,Session 28,Session 29,Session 30,Session 31,Session 32,Session 33,Session 34,Session 35,Session 36
0,2022-04-20 14:00:00,2022-04-22 13:50:00,2022-04-25 14:45:00,2022-04-27 14:55:00,2022-05-07 11:50:00,2022-05-10 15:52:00,2022-05-12 11:26:00,2022-05-14 09:17:00,2022-05-18 16:30:00,2022-05-27 13:17:00,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1,2022-04-20 12:35:00,2022-04-22 08:50:00,2022-04-23 09:20:00,2022-04-26 00:30:00,2022-04-27 11:35:00,2022-04-28 11:50:00,2022-05-07 12:16:00,2022-05-09 10:55:00,2022-05-11 12:24:00,2022-05-14 11:05:00,...,2022-07-14 13:25:00,2022-07-16 09:38:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,2022-04-19 12:55:00,2022-04-20 11:50:00,2022-04-23 10:06:00,2022-04-26 12:55:00,2022-04-27 13:00:00,2022-05-10 08:50:00,2022-05-11 14:56:00,2022-05-13 14:48:00,2022-05-16 15:25:00,2022-05-19 15:22:00,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,2022-04-21 12:35:00,2022-04-22 12:55:00,2022-04-25 14:20:00,2022-04-27 14:20:00,2022-05-07 11:05:00,2022-05-11 09:53:00,2022-05-13 11:45:00,2022-05-14 12:31:00,2022-05-16 13:32:00,2022-05-20 11:53:00,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,2022-04-20 13:40:00,2022-04-22 12:45:00,2022-04-25 15:00:00,2022-04-26 14:16:00,2022-05-07 13:32:00,2022-05-10 09:37:00,2022-05-13 10:50:00,2022-05-14 12:26:00,2022-05-19 12:00:00,2022-05-20 11:50:00,...,2022-07-14 12:26:00,2022-07-16 10:25:00,2022-07-18 13:22:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT

### Combine Label and Session Columns

In [86]:
# Combine time_df and result_df along the columns
time_label = pd.concat([time_df, result_df], axis=1)

# Print the combined DataFrame
time_label.head()

,Session 1,Session 2,Session 3,Session 4,Session 5,Session 6,Session 7,Session 8,Session 9,Session 10,...,Session 34 T6BR,Session 35 C2BL,Session 35 C3BR,Session 35 T12BR,Session 35 T5BR,Session 36 C2BL,Session 36 C3BR,Session 36 RPI,Session 36 T12BR,Session 36 T5BR
0,2022-04-20 14:00:00,2022-04-22 13:50:00,2022-04-25 14:45:00,2022-04-27 14:55:00,2022-05-07 11:50:00,2022-05-10 15:52:00,2022-05-12 11:26:00,2022-05-14 09:17:00,2022-05-18 16:30:00,2022-05-27 13:17:00,...,0,0,0,0,0,0,0,0,0,0
1,2022-04-20 12:35:00,2022-04-22 08:50:00,2022-04-23 09:20:00,2022-04-26 00:30:00,2022-04-27 11:35:00,2022-04-28 11:50:00,2022-05-07 12:16:00,2022-05-09 10:55:00,2022-05-11 12:24:00,2022-05-14 11:05:00,...,0,0,0,0,0,0,0,0,0,0
2,2022-04-19 12:55:00,2022-04-20 11:50:00,2022-04-23 10:06:00,2022-04-26 12:55:00,2022-04-27 13:00:00,2022-05-10 08:50:00,2022-05-11 14:56:00,2022-05-13 14:48:00,2022-05-16 15:25:00,2022-05-19 15:22:00,...,0,0,0,0,0,0,0,0,0,0
3,2022-04-21 12:35:00,2022-04-22 12:55:00,2022-04-25 14:20:00,2022-04-27 14:20:00,2022-05-07 11:05:00,2022-05-11 09:53:00,2022-05-13 11:45:00,2022-05-14 12:31:00,2022-05-16 13:32:00,2022-05-20 11:53:00,...,0,0,0,0,0,0,0,0,0,0
4,2022-04-20 13:40:00,2022-04-22 12:45:00,2022-04-25 15:00:00,2022-04-26 14:16:00,2022-05-07 13:32:00,2022-05-10 09:37:00,2022-05-13 10:50:00,2022-05-14 12:26:00,2022-05-19 12:00:00,2022-05-20 11:50:00,...,0,0,0,0,0,0,0,0,0,0

### Rearranging Session and Session Label columns

In [87]:
# Extract unique session numbers
session_numbers = sorted(set(int(re.search(r"\d+", col).group(0)) for col in time_label.columns if re.match(r"^Session \d+", col)))

# Arrange columns: Each "Session X" is followed by its associated labels
ordered_columns = []
for session in session_numbers:
    related_cols = [col for col in time_label.columns if re.match(rf"^Session {session}(\s|$)", col)]
    ordered_columns.extend(sorted(related_cols))  # Maintain original order for labels

# Reorder DataFrame
time_label = time_label[ordered_columns]

# Print the final column order
print(time_label.columns)

Index(['Session 1', 'Session 1 APEXPOSTSX', 'Session 1 BASEPOSTERIORSX',
       'Session 1 BASEPOSTSX', 'Session 1 C0BILAT', 'Session 1 C0PS',
       'Session 1 C1ASI', 'Session 1 C1ASL', 'Session 1 C1ASR',
       'Session 1 C1PIL',
       ...
       'Session 35 C2BL', 'Session 35 C3BR', 'Session 35 T12BR',
       'Session 35 T5BR', 'Session 36', 'Session 36 C2BL', 'Session 36 C3BR',
       'Session 36 RPI', 'Session 36 T12BR', 'Session 36 T5BR'],
      dtype='object', length=1818)

## Combine the above columns with the rest of the dataset

In [88]:
# Extract relevant columns from df_combined
cols_to_extract = ["ID", "Enrolment Date", "Initial Care Plan", "Age Group", 'Active/Passive'] + [col for col in df_combined.columns if col.startswith("Chiropractic Adjustment")]
extracted_df = df_combined[cols_to_extract]

# Combine extracted columns with combined_df
final_combined_df = pd.concat([extracted_df, time_label, chiro_adjustment_df], axis=1)

# Print the final combined DataFrame
final_combined_df.head()

,ID,Enrolment Date,Initial Care Plan,Age Group,Active/Passive,Session 1,Session 1 APEXPOSTSX,Session 1 BASEPOSTERIORSX,Session 1 BASEPOSTSX,Session 1 C0BILAT,...,Chiro Adjustment 27,Chiro Adjustment 28,Chiro Adjustment 29,Chiro Adjustment 30,Chiro Adjustment 31,Chiro Adjustment 32,Chiro Adjustment 33,Chiro Adjustment 34,Chiro Adjustment 35,Chiro Adjustment 36
0,1,20/4,3x4,Adults,Active,2022-04-20 14:00:00,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,20/4,3x4,Adults,Active,2022-04-20 12:35:00,0,0,0,0,...,"PL SX, T4 BL, T8 BR ANTERIOR, C2 BR, C4 BL","PR SX, L4 BL, T3 BR, C2 BR, C6 BL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,19/4,3x4,Adults,Active,2022-04-19 12:55:00,3,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,21/4,3x4,Adults,Active,2022-04-21 12:35:00,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,20/4,3x4,Adults,Active,2022-04-20 13:40:00,0,0,0,0,...,"L PI, PR SX ACT, T5 BR ACT, C1 ASL ACT, C2 BL ...","R PI ACT, L2 BR ACT, T7 BL ACT, T3 BL ACT, C2 ...","R PI ACT, L2 BR ACT, T7 BL ACT, T3 BL ACT, C1 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Save the cleaned dataset

In [89]:
final_combined_df.to_csv("final_combined_df.csv", index=False)

## Weighted Subluxation Scores

Each subluxation score needs to be multiplied by weights specified by the client. For C1 and C2, each score would be multiplied by 3. For C3 to C7, each score would be multiplied by 2. The rest will remain the same.

We will use result_df, which is the dataframe with all the subluxation scores (label wise).

In [90]:
result_df.head()

,Session 1 APEXPOSTSX,Session 1 BASEPOSTERIORSX,Session 1 BASEPOSTSX,Session 1 C0BILAT,Session 1 C0PS,Session 1 C1ASI,Session 1 C1ASL,Session 1 C1ASR,Session 1 C1PIL,Session 1 C1PIR,...,Session 34 T6BR,Session 35 C2BL,Session 35 C3BR,Session 35 T12BR,Session 35 T5BR,Session 36 C2BL,Session 36 C3BR,Session 36 RPI,Session 36 T12BR,Session 36 T5BR
0,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0

In [91]:
# Multiply columns with ' C1' or ' C2' by 3
weight3_df = result_df.loc[:, result_df.columns.str.contains(r' C1| C2')]
weight3_multiplied = weight3_df * 3

# Multiply columns with ' C3' to ' C7' by 2
weight2_df = result_df.loc[:, result_df.columns.str.contains(r' C3| C4| C5| C6| C7')]
weight2_multiplied = weight2_df * 2

# All other columns unchanged
weight1_df = result_df.loc[:, ~result_df.columns.str.contains(r' C1| C2| C3| C4| C5| C6| C7')]

# Combine everything
weighted_df = pd.concat([weight1_df, weight2_multiplied, weight3_multiplied], axis=1)

# Optional: reorder to match the original DataFrame
weighted_df = weighted_df[result_df.columns]

weighted_df

,Session 1 APEXPOSTSX,Session 1 BASEPOSTERIORSX,Session 1 BASEPOSTSX,Session 1 C0BILAT,Session 1 C0PS,Session 1 C1ASI,Session 1 C1ASL,Session 1 C1ASR,Session 1 C1PIL,Session 1 C1PIR,...,Session 34 T6BR,Session 35 C2BL,Session 35 C3BR,Session 35 T12BR,Session 35 T5BR,Session 36 C2BL,Session 36 C3BR,Session 36 RPI,Session 36 T12BR,Session 36 T5BR
0,0,0,0,0,0,0,0,0,0,6,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,9,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,9,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199,0,0,0,0,0,0,0,9,0,0,...,0,0,0,0,0,0,0,0,0,0
200,0,0,0,0,0,0,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201,0,0,0,0,0,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
202,0,0,0,0,0,0,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Combine with time and session columns

In [92]:
# Combine time_df and result_df along the columns
weight_scores = pd.concat([time_df, weighted_df], axis=1)

# Sort columns numerically based on extracted session numbers
sorted_columns = sorted(weight_scores.columns, key=lambda x: int(''.join(filter(str.isdigit, x))))

# Rearrange DataFrame
weight_scores = weight_scores[sorted_columns]

# Print the combined DataFrame
#weight_scores.head()

In [93]:
# Extract relevant columns from df_combined
cols_to_extract = ["ID", "Enrolment Date", "Initial Care Plan", 'Age Group', 'Active/Passive'] 
extracted_df = df_combined[cols_to_extract]

# Combine extracted columns with combined_df
weight_scores_noaverage = pd.concat([extracted_df, weight_scores], axis=1)

# Print the final combined DataFrame
weight_scores_noaverage.head()

weight_scores_noaverage.to_csv("weight_noaverage.csv", index=False)

### Calculate the sum of weighted products for each Session

In [94]:
df = pd.DataFrame(weighted_df)

# Identify unique session prefixes dynamically
session_groups = {}
for col in df.columns:
    session_prefix = " ".join(col.split()[:2])  # Extract "Session X" prefix
    if session_prefix.startswith("Session"):
        session_groups.setdefault(session_prefix, []).append(col)

# Compute simple sums instead of weighted products
weighted_df = df.copy()
for session, cols in session_groups.items():
    weighted_df[session + " Weighted Sum"] = df[cols].sum(axis=1)

# Display session-wise sum
session_sums = weighted_df[[col + " Weighted Sum" for col in session_groups]]
session_sums.head()

,Session 1 Weighted Sum,Session 2 Weighted Sum,Session 3 Weighted Sum,Session 4 Weighted Sum,Session 5 Weighted Sum,Session 6 Weighted Sum,Session 7 Weighted Sum,Session 8 Weighted Sum,Session 9 Weighted Sum,Session 10 Weighted Sum,...,Session 27 Weighted Sum,Session 28 Weighted Sum,Session 29 Weighted Sum,Session 30 Weighted Sum,Session 31 Weighted Sum,Session 32 Weighted Sum,Session 33 Weighted Sum,Session 34 Weighted Sum,Session 35 Weighted Sum,Session 36 Weighted Sum
0,26,22,21,21,16,19,12,16,24,19,...,0,0,0,0,0,0,0,0,0,0
1,19,25,22,18,21,16,19,17,15,16,...,16,16,0,0,0,0,0,0,0,0
2,17,19,20,18,15,21,15,6,17,16,...,0,0,0,0,0,0,0,0,0,0
3,25,24,15,18,18,18,21,18,23,14,...,0,0,0,0,0,0,0,0,0,0
4,24,22,22,21,28,16,17,13,21,18,...,26,14,17,0,0,0,0,0,0,0

### Combine Weight Session and Time columns

In [95]:
# Combine time_df and result_df along the columns
weight_time = pd.concat([time_df, session_sums], axis=1)

# Sort columns numerically based on extracted session numbers
sorted_columns = sorted(weight_time.columns, key=lambda x: int(''.join(filter(str.isdigit, x))))

# Rearrange DataFrame
weight_time = weight_time[sorted_columns]

# Print the combined DataFrame
weight_time.head()

,Session 1,Session 1 Weighted Sum,Session 2,Session 2 Weighted Sum,Session 3,Session 3 Weighted Sum,Session 4,Session 4 Weighted Sum,Session 5,Session 5 Weighted Sum,...,Session 32,Session 32 Weighted Sum,Session 33,Session 33 Weighted Sum,Session 34,Session 34 Weighted Sum,Session 35,Session 35 Weighted Sum,Session 36,Session 36 Weighted Sum
0,2022-04-20 14:00:00,26,2022-04-22 13:50:00,22,2022-04-25 14:45:00,21,2022-04-27 14:55:00,21,2022-05-07 11:50:00,16,...,NaT,0,NaT,0,NaT,0,NaT,0,NaT,0
1,2022-04-20 12:35:00,19,2022-04-22 08:50:00,25,2022-04-23 09:20:00,22,2022-04-26 00:30:00,18,2022-04-27 11:35:00,21,...,NaT,0,NaT,0,NaT,0,NaT,0,NaT,0
2,2022-04-19 12:55:00,17,2022-04-20 11:50:00,19,2022-04-23 10:06:00,20,2022-04-26 12:55:00,18,2022-04-27 13:00:00,15,...,NaT,0,NaT,0,NaT,0,NaT,0,NaT,0
3,2022-04-21 12:35:00,25,2022-04-22 12:55:00,24,2022-04-25 14:20:00,15,2022-04-27 14:20:00,18,2022-05-07 11:05:00,18,...,NaT,0,NaT,0,NaT,0,NaT,0,NaT,0
4,2022-04-20 13:40:00,24,2022-04-22 12:45:00,22,2022-04-25 15:00:00,22,2022-04-26 14:16:00,21,2022-05-07 13:32:00,28,...,NaT,0,NaT,0,NaT,0,NaT,0,NaT,0

### Combine with rest of the data

In [96]:
# Extract relevant columns from df_combined
cols_to_extract = ["ID", "Enrolment Date", "Initial Care Plan", 'Age Group', 'Active/Passive'] 
extracted_df = df_combined[cols_to_extract]

# Combine extracted columns with combined_df
weight_subscores = pd.concat([extracted_df, weight_time], axis=1)

# Print the final combined DataFrame
weight_subscores.head()

,ID,Enrolment Date,Initial Care Plan,Age Group,Active/Passive,Session 1,Session 1 Weighted Sum,Session 2,Session 2 Weighted Sum,Session 3,...,Session 32,Session 32 Weighted Sum,Session 33,Session 33 Weighted Sum,Session 34,Session 34 Weighted Sum,Session 35,Session 35 Weighted Sum,Session 36,Session 36 Weighted Sum
0,1,20/4,3x4,Adults,Active,2022-04-20 14:00:00,26,2022-04-22 13:50:00,22,2022-04-25 14:45:00,...,NaT,0,NaT,0,NaT,0,NaT,0,NaT,0
1,2,20/4,3x4,Adults,Active,2022-04-20 12:35:00,19,2022-04-22 08:50:00,25,2022-04-23 09:20:00,...,NaT,0,NaT,0,NaT,0,NaT,0,NaT,0
2,4,19/4,3x4,Adults,Active,2022-04-19 12:55:00,17,2022-04-20 11:50:00,19,2022-04-23 10:06:00,...,NaT,0,NaT,0,NaT,0,NaT,0,NaT,0
3,5,21/4,3x4,Adults,Active,2022-04-21 12:35:00,25,2022-04-22 12:55:00,24,2022-04-25 14:20:00,...,NaT,0,NaT,0,NaT,0,NaT,0,NaT,0
4,6,20/4,3x4,Adults,Active,2022-04-20 13:40:00,24,2022-04-22 12:45:00,22,2022-04-25 15:00:00,...,NaT,0,NaT,0,NaT,0,NaT,0,NaT,0

### Save the above dataset

In [97]:
weight_subscores.to_csv("weight_subscores.csv", index=False)

## Creating a dataframe for Visits per Session

In [98]:
# Merge age data into vs_df
vs_df["Age Group"] = final_combined_df["Age Group"]

# Define session columns
vs_columns = [col for col in vs_df.columns if col.startswith("Vertebral Subluxation Before Care")]

# Split into Active and Passive groups
active_df = vs_df.iloc[:109]  # First 109 rows are Active
passive_df = vs_df.iloc[109:]  # Remaining rows are Passive

# Further split into Children and Adults
active_children = active_df[active_df["Age Group"] == "Children"]
active_adults = active_df[active_df["Age Group"] == "Adults"]
passive_children = passive_df[passive_df["Age Group"] == "Children"]
passive_adults = passive_df[passive_df["Age Group"] == "Adults"]

# Count visits for each session
active_children_counts = [active_children[col].notna().sum() for col in vs_columns]
active_adults_counts = [active_adults[col].notna().sum() for col in vs_columns]
passive_children_counts = [passive_children[col].notna().sum() for col in vs_columns]
passive_adults_counts = [passive_adults[col].notna().sum() for col in vs_columns]

# Create a new DataFrame in the required format
session_visits_df = pd.DataFrame(
    [active_children_counts, active_adults_counts, passive_children_counts, passive_adults_counts], 
    index=["Children (Active)", "Adults (Active)", "Children (Passive)", "Adults (Passive)"], 
    columns=[f"Session {i+1} Visits" for i in range(len(vs_columns))]
)

# Display the result
session_visits_df

,Session 1 Visits,Session 2 Visits,Session 3 Visits,Session 4 Visits,Session 5 Visits,Session 6 Visits,Session 7 Visits,Session 8 Visits,Session 9 Visits,Session 10 Visits,...,Session 28 Visits,Session 29 Visits,Session 30 Visits,Session 31 Visits,Session 32 Visits,Session 33 Visits,Session 34 Visits,Session 35 Visits,Session 36 Visits,Session 37 Visits
Children (Active),40,40,43,43,43,42,42,42,40,40,...,31,30,29,29,17,8,2,0,0,0
Adults (Active),66,66,64,64,63,60,59,57,57,56,...,21,18,15,11,5,2,1,1,1,1
Children (Passive),36,36,35,33,27,36,36,36,36,34,...,0,0,0,0,0,0,0,0,0,0
Adults (Passive),55,55,54,53,52,52,51,50,48,49,...,0,0,0,0,0,0,0,0,0,0

In [99]:
# Rename the index to "Age Group"
session_visits_df = session_visits_df.rename_axis("Age Group")

# Display the updated DataFrame
session_visits_df

,Session 1 Visits,Session 2 Visits,Session 3 Visits,Session 4 Visits,Session 5 Visits,Session 6 Visits,Session 7 Visits,Session 8 Visits,Session 9 Visits,Session 10 Visits,...,Session 28 Visits,Session 29 Visits,Session 30 Visits,Session 31 Visits,Session 32 Visits,Session 33 Visits,Session 34 Visits,Session 35 Visits,Session 36 Visits,Session 37 Visits
Age Group,,,,,,,,,,,,,,,,,,,,,
Children (Active),40,40,43,43,43,42,42,42,40,40,...,31,30,29,29,17,8,2,0,0,0
Adults (Active),66,66,64,64,63,60,59,57,57,56,...,21,18,15,11,5,2,1,1,1,1
Children (Passive),36,36,35,33,27,36,36,36,36,34,...,0,0,0,0,0,0,0,0,0,0
Adults (Passive),55,55,54,53,52,52,51,50,48,49,...,0,0,0,0,0,0,0,0,0,0

In [100]:
session_visits_df.to_csv("session_visits.csv", index=True)

# Categorise Subluxation Scores

In [101]:
weighted_df

,Session 1 APEXPOSTSX,Session 1 BASEPOSTERIORSX,Session 1 BASEPOSTSX,Session 1 C0BILAT,Session 1 C0PS,Session 1 C1ASI,Session 1 C1ASL,Session 1 C1ASR,Session 1 C1PIL,Session 1 C1PIR,...,Session 27 Weighted Sum,Session 28 Weighted Sum,Session 29 Weighted Sum,Session 30 Weighted Sum,Session 31 Weighted Sum,Session 32 Weighted Sum,Session 33 Weighted Sum,Session 34 Weighted Sum,Session 35 Weighted Sum,Session 36 Weighted Sum
0,0,0,0,0,0,0,0,0,0,6,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,16,16,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,9,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,9,...,26,14,17,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199,0,0,0,0,0,0,0,9,0,0,...,0,0,0,0,0,0,0,0,0,0
200,0,0,0,0,0,0,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201,0,0,0,0,0,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
202,0,0,0,0,0,0,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Cervical

In [102]:
C_df = weighted_df.loc[:, weighted_df.columns.str.contains(r'^Session \d+ C', regex=True)]
C_df

,Session 1 C0BILAT,Session 1 C0PS,Session 1 C1ASI,Session 1 C1ASL,Session 1 C1ASR,Session 1 C1PIL,Session 1 C1PIR,Session 1 C2ARP,Session 1 C2BL,Session 1 C2BR,...,Session 33 C2BL,Session 33 C2BR,Session 33 C3BL,Session 33 C3BR,Session 34 C2BL,Session 34 C3BR,Session 35 C2BL,Session 35 C3BR,Session 36 C2BL,Session 36 C3BR
0,0,0,0,0,0,0,6,0,9,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,6,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,9,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,0,0,0,0,0,0,0,0,9,0,...,0,0,0,0,0,0,0,0,0,0
199,0,0,0,0,9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
200,0,0,0,9,0,0,0,0,0,6,...,0,0,0,0,0,0,0,0,0,0
201,0,0,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
202,0,0,0,9,0,0,0,0,9,0,...,0,0,0,0,0,0,0,0,0,0

In [103]:
df = pd.DataFrame(C_df)

# Identify unique session prefixes dynamically
session_groups = {}
for col in df.columns:
    session_prefix = " ".join(col.split()[:2])  # Extract "Session X" prefix
    if session_prefix.startswith("Session"):
        session_groups.setdefault(session_prefix, []).append(col)

# Compute simple sums instead of weighted products
#weighted_df = df.copy()
for session, cols in session_groups.items():
    df[session + " Cervical"] = df[cols].sum(axis=1)

# Display session-wise sum
cervical_sums = df[[col + " Cervical" for col in session_groups]]
cervical_sums.head()

,Session 1 Cervical,Session 2 Cervical,Session 3 Cervical,Session 4 Cervical,Session 5 Cervical,Session 6 Cervical,Session 7 Cervical,Session 8 Cervical,Session 9 Cervical,Session 10 Cervical,...,Session 27 Cervical,Session 28 Cervical,Session 29 Cervical,Session 30 Cervical,Session 31 Cervical,Session 32 Cervical,Session 33 Cervical,Session 34 Cervical,Session 35 Cervical,Session 36 Cervical
0,15,15,15,15,10,9,6,10,15,13,...,0,0,0,0,0,0,0,0,0,0
1,8,18,13,9,15,10,13,10,9,12,...,11,10,0,0,0,0,0,0,0,0
2,9,12,12,12,9,15,12,2,12,10,...,0,0,0,0,0,0,0,0,0,0
3,13,15,9,12,12,13,13,12,15,10,...,0,0,0,0,0,0,0,0,0,0
4,15,15,13,15,15,11,12,8,15,12,...,21,7,10,0,0,0,0,0,0,0

## Lumbar

In [104]:
L_df = weighted_df.loc[:, weighted_df.columns.str.contains(r'^Session \d+ L', regex=True)]
L_df

,Session 1 L1BILAT,Session 1 L1BL,Session 1 L1BR,Session 1 L2BL,Session 1 L2BR,Session 1 L3BILAT,Session 1 L3BL,Session 1 L3BR,Session 1 L4BL,Session 1 L4BR,...,Session 28 LPI,Session 29 L2BR,Session 29 L4BR,Session 29 LAISX,Session 29 LPI,Session 30 LPI,Session 31 LAISX,Session 31 LPI,Session 32 LPI,Session 33 L5BL
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
200,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
202,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [105]:
df = pd.DataFrame(L_df)

# Identify unique session prefixes dynamically
session_groups = {}
for col in df.columns:
    session_prefix = " ".join(col.split()[:2])  # Extract "Session X" prefix
    if session_prefix.startswith("Session"):
        session_groups.setdefault(session_prefix, []).append(col)

# Compute simple sums instead of weighted products
#weighted_df = df.copy()
for session, cols in session_groups.items():
    df[session + " Lumbar"] = df[cols].sum(axis=1)

# Display session-wise sum
lumbar_sums = df[[col + " Lumbar" for col in session_groups]]
lumbar_sums.head()

,Session 1 Lumbar,Session 2 Lumbar,Session 3 Lumbar,Session 4 Lumbar,Session 5 Lumbar,Session 6 Lumbar,Session 7 Lumbar,Session 8 Lumbar,Session 9 Lumbar,Session 10 Lumbar,...,Session 24 Lumbar,Session 25 Lumbar,Session 26 Lumbar,Session 27 Lumbar,Session 28 Lumbar,Session 29 Lumbar,Session 30 Lumbar,Session 31 Lumbar,Session 32 Lumbar,Session 33 Lumbar
0,2,0,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,0,3,0,3,0,0,3,0,0,...,0,0,0,0,2,0,0,0,0,0
2,0,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,3,0,0,0,0,0,0,0,0
4,2,1,0,0,2,0,0,0,0,0,...,2,2,0,2,2,2,0,0,0,0

## Thoracic

In [106]:
T_df = weighted_df.loc[:, weighted_df.columns.str.contains(r'^Session \d+ T', regex=True)]
T_df

,Session 1 T10ANTERIOR,Session 1 T10BL,Session 1 T10BR,Session 1 T11BILAT,Session 1 T11BL,Session 1 T11BR,Session 1 T12BILAT,Session 1 T12BL,Session 1 T12BR,Session 1 T1BL,...,Session 33 T12BR,Session 33 T5BR,Session 33 T6BR,Session 33 T8BL,Session 34 T12BR,Session 34 T6BR,Session 35 T12BR,Session 35 T5BR,Session 36 T12BR,Session 36 T5BR
0,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
200,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
201,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
202,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0

In [107]:
df = pd.DataFrame(T_df)

# Identify unique session prefixes dynamically
session_groups = {}
for col in df.columns:
    session_prefix = " ".join(col.split()[:2])  # Extract "Session X" prefix
    if session_prefix.startswith("Session"):
        session_groups.setdefault(session_prefix, []).append(col)

# Compute simple sums instead of weighted products
#weighted_df = df.copy()
for session, cols in session_groups.items():
    df[session + " Thoracic"] = df[cols].sum(axis=1)

# Display session-wise sum
thoracic_sums = df[[col + " Thoracic" for col in session_groups]]
thoracic_sums.head()

,Session 1 Thoracic,Session 2 Thoracic,Session 3 Thoracic,Session 4 Thoracic,Session 5 Thoracic,Session 6 Thoracic,Session 7 Thoracic,Session 8 Thoracic,Session 9 Thoracic,Session 10 Thoracic,...,Session 27 Thoracic,Session 28 Thoracic,Session 29 Thoracic,Session 30 Thoracic,Session 31 Thoracic,Session 32 Thoracic,Session 33 Thoracic,Session 34 Thoracic,Session 35 Thoracic,Session 36 Thoracic
0,6,4,3,3,3,6,3,3,6,3,...,0,0,0,0,0,0,0,0,0,0
1,6,3,6,6,3,3,3,2,6,2,...,3,2,0,0,0,0,0,0,0,0
2,5,4,5,3,3,3,2,2,2,3,...,0,0,0,0,0,0,0,0,0,0
3,5,6,3,3,3,2,5,3,5,2,...,0,0,0,0,0,0,0,0,0,0
4,4,3,6,3,5,3,2,2,3,3,...,2,3,3,0,0,0,0,0,0,0

## Pelvic

In [108]:
P_df = weighted_df.loc[:, weighted_df.columns.str.contains(r'^Session \d+ P', regex=True)]
P_df

,Session 1 PIL,Session 1 PISX,Session 1 PLSX,Session 1 PRSX,Session 2 PILSX,Session 2 PISX,Session 2 PL,Session 2 PLS,Session 2 PLSX,Session 2 PRSX,...,Session 29 PRSX,Session 30 PLSX,Session 30 PRSX,Session 31 PLSX,Session 31 PRSX,Session 32 PLSX,Session 32 PRSX,Session 33 PLSX,Session 33 PRSX,Session 34 PRSX
0,0,0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,2,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,2,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,3,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
199,0,0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
200,0,0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201,0,0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
202,0,0,3,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0

In [109]:
df = pd.DataFrame(P_df)

# Identify unique session prefixes dynamically
session_groups = {}
for col in df.columns:
    session_prefix = " ".join(col.split()[:2])  # Extract "Session X" prefix
    if session_prefix.startswith("Session"):
        session_groups.setdefault(session_prefix, []).append(col)

# Compute simple sums instead of weighted products
#weighted_df = df.copy()
for session, cols in session_groups.items():
    df[session + " Pelvic"] = df[cols].sum(axis=1)

# Display session-wise sum
pelvic_sums = df[[col + " Pelvic" for col in session_groups]]
pelvic_sums.head()

,Session 1 Pelvic,Session 2 Pelvic,Session 3 Pelvic,Session 4 Pelvic,Session 5 Pelvic,Session 6 Pelvic,Session 7 Pelvic,Session 8 Pelvic,Session 9 Pelvic,Session 10 Pelvic,...,Session 25 Pelvic,Session 26 Pelvic,Session 27 Pelvic,Session 28 Pelvic,Session 29 Pelvic,Session 30 Pelvic,Session 31 Pelvic,Session 32 Pelvic,Session 33 Pelvic,Session 34 Pelvic
0,3,0,0,0,3,1,3,0,3,0,...,0,0,0,0,0,0,0,0,0,0
1,2,3,0,3,0,3,3,2,0,2,...,3,0,2,2,0,0,0,0,0,0
2,0,3,3,3,0,3,0,2,0,3,...,0,0,0,0,0,0,0,0,0,0
3,2,3,3,3,3,3,3,3,0,2,...,0,0,0,0,0,0,0,0,0,0
4,0,3,3,3,3,2,3,3,0,3,...,2,0,1,0,0,0,0,0,0,0

## Merge datasets

In [110]:
# Combine time_df and result_df along the columns
weight_time = pd.concat([time_df, session_sums, cervical_sums, lumbar_sums, thoracic_sums, pelvic_sums], axis=1)

# Sort columns numerically based on extracted session numbers
sorted_columns = sorted(weight_time.columns, key=lambda x: int(''.join(filter(str.isdigit, x))))

# Rearrange DataFrame
weight_time = weight_time[sorted_columns]

# Print the combined DataFrame
weight_time.head()

,Session 1,Session 1 Weighted Sum,Session 1 Cervical,Session 1 Lumbar,Session 1 Thoracic,Session 1 Pelvic,Session 2,Session 2 Weighted Sum,Session 2 Cervical,Session 2 Lumbar,...,Session 34 Thoracic,Session 34 Pelvic,Session 35,Session 35 Weighted Sum,Session 35 Cervical,Session 35 Thoracic,Session 36,Session 36 Weighted Sum,Session 36 Cervical,Session 36 Thoracic
0,2022-04-20 14:00:00,26,15,2,6,3,2022-04-22 13:50:00,22,15,0,...,0,0,NaT,0,0,0,NaT,0,0,0
1,2022-04-20 12:35:00,19,8,3,6,2,2022-04-22 08:50:00,25,18,0,...,0,0,NaT,0,0,0,NaT,0,0,0
2,2022-04-19 12:55:00,17,9,0,5,0,2022-04-20 11:50:00,19,12,0,...,0,0,NaT,0,0,0,NaT,0,0,0
3,2022-04-21 12:35:00,25,13,5,5,2,2022-04-22 12:55:00,24,15,0,...,0,0,NaT,0,0,0,NaT,0,0,0
4,2022-04-20 13:40:00,24,15,2,4,0,2022-04-22 12:45:00,22,15,1,...,0,0,NaT,0,0,0,NaT,0,0,0

In [111]:
# Extract relevant columns from df_combined
cols_to_extract = ["ID", "Enrolment Date", "Initial Care Plan", 'Age Group', 'Active/Passive'] 
extracted_df = df_combined[cols_to_extract]

# Combine extracted columns with combined_df
weight_subcat = pd.concat([extracted_df, weight_time], axis=1)

# Print the final combined DataFrame
weight_subcat.head()

,ID,Enrolment Date,Initial Care Plan,Age Group,Active/Passive,Session 1,Session 1 Weighted Sum,Session 1 Cervical,Session 1 Lumbar,Session 1 Thoracic,...,Session 34 Thoracic,Session 34 Pelvic,Session 35,Session 35 Weighted Sum,Session 35 Cervical,Session 35 Thoracic,Session 36,Session 36 Weighted Sum,Session 36 Cervical,Session 36 Thoracic
0,1,20/4,3x4,Adults,Active,2022-04-20 14:00:00,26,15,2,6,...,0,0,NaT,0,0,0,NaT,0,0,0
1,2,20/4,3x4,Adults,Active,2022-04-20 12:35:00,19,8,3,6,...,0,0,NaT,0,0,0,NaT,0,0,0
2,4,19/4,3x4,Adults,Active,2022-04-19 12:55:00,17,9,0,5,...,0,0,NaT,0,0,0,NaT,0,0,0
3,5,21/4,3x4,Adults,Active,2022-04-21 12:35:00,25,13,5,5,...,0,0,NaT,0,0,0,NaT,0,0,0
4,6,20/4,3x4,Adults,Active,2022-04-20 13:40:00,24,15,2,4,...,0,0,NaT,0,0,0,NaT,0,0,0

In [112]:
weight_subcat.to_csv("weight_subcat.csv", index=True)